:root{
    --chip-radius: 1em;
    --base-border-width: 2px;
}

.request-info{
    user-select: none;
}

.type-sick{
    border: var(--base-border-width) solid var(--color-sick) !important;
}

.type-family{
    border: var(--base-border-width) solid var(--color-family) !important;
}

.type-trip{
    border: var(--base-border-width) solid var(--color-trip) !important;
}

.type-sick-filled{
    border: var(--base-border-width) solid var(--color-sick);
    background-color: var(--color-sick);
}

.type-family-filled{
    border: var(--base-border-width) solid var(--color-family);
    background-color: var(--color-family);
}


.type-trip-filled{
    border: var(--base-border-width) solid var(--color-trip);
    background-color: var(--color-trip);
}