:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --color-primary: #505050;
  --color-on-primary: #6A6A6A;

  --bs-primary-rgb: 80, 80, 80;
  --bs-secondary-rgb: 106, 106, 106;
  --bs-success: #bbfcba;
  --bs-danger: #fcbad3;
  --bs-warning: #ffffd2;
  --bs-info: #96a9da;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-color-primary{
  background-color: var(--color-primary);
}

.bg-color-on-primary{
  background-color: var(--color-on-primary);
}